body {
  background-color: rgb(220, 220, 220);
  /* height: auto; */
}
.profile_pic {
  width: 100px;
  height: auto;
}
.main-container {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  margin-top: 3.5em;
  height: 37em;
  width: 50em;
  overflow: scroll;
}
